In [468]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [421]:
credits = pd.read_csv('tmdb_5000_credits.csv')

In [422]:
movies = pd.read_csv('tmdb_5000_movies.csv')

In [423]:
movies = movies.merge(credits, on='title')

In [424]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [425]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords','cast', 'crew']]

In [426]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [427]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [428]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [429]:
movies.dropna(inplace=True)

In [430]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [431]:
movies.duplicated().sum()

np.int64(0)

In [432]:
def convert(obj):
    L=[]

    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [433]:
movies['genres'] = movies['genres'].apply(convert)

In [434]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [435]:
movies['keywords'] = movies['keywords'].apply(convert)

In [436]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [437]:
def convert1(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter=+1

        else:
            break
        

        
    return L

In [438]:
movies['cast'] = movies['cast'].apply(convert1)

In [439]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [440]:
def convert2(obj):
    L=[]
    
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            

            break
        

        
    return L

In [441]:
movies['crew'].apply(convert2)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [442]:
movies['crew'] = movies['crew'].apply(convert2)

In [443]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [444]:
movies['overview']  = movies['overview'].apply(lambda x:x.split())

In [445]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [446]:
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(' ','') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ','') for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(' ','') for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(' ','') for i in x])

In [447]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [448]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [449]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [450]:
new_df = movies[['movie_id','title','tags']]

In [451]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [452]:
new_df['tags'] = new_df['tags'].apply(lambda x:' '.join(x))

C:\Users\fahad\AppData\Local\Temp\ipykernel_22192\2266712157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:' '.join(x))

In [453]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [454]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\fahad\AppData\Local\Temp\ipykernel_22192\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [455]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [456]:
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [457]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [458]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [459]:
ps = PorterStemmer()

In [460]:
def stem(text):
    y=[]

    for i in text.split():
        y.append(ps.stem(i))

    return ' '.join(y)

In [461]:
# Apply stemming safely
new_df = new_df.copy()
new_df.loc[:, 'tags'] = new_df['tags'].apply(stem)

# Get feature names from CountVectorizer
fn = cv.get_feature_names_out()

In [462]:
print(fn[:500])

['000' '007' '10' '11' '12' '13' '14' '15' '16' '17' '18' '18th' '19'
 '1930s' '1940s' '1950s' '1960s' '1970s' '1980s' '19th' '19thcentury' '20'
 '20th' '24' '25' '30' '3d' '40' '50' '60' '60s' 'aaron' 'aaroneckhart'
 'aarontaylor' 'aasifmandvi' 'abandoned' 'abducted' 'abigailbreslin'
 'ability' 'able' 'abuse' 'abusive' 'academy' 'accept' 'accepts' 'access'
 'accident' 'accidentally' 'accompanied' 'account' 'accountant' 'accused'
 'ace' 'achieve' 'act' 'action' 'actions' 'activist' 'activities' 'actor'
 'actors' 'actress' 'acts' 'actual' 'actually' 'adam' 'adambrody'
 'adamgoldberg' 'adamlefevre' 'adams' 'adamsandler' 'adamscott'
 'adamshankman' 'adaptation' 'addict' 'addicted' 'addiction'
 'adewaleakinnuoye' 'adolescence' 'adopted' 'adoption' 'adrianmartinez'
 'adrienbrody' 'adult' 'adultery' 'adulthood' 'adults' 'advantage'
 'adventure' 'adventures' 'advertising' 'advice' 'affair' 'affection'
 'affections' 'afghanistan' 'africa' 'african' 'aftercreditsstinger'
 'afterlife' 'aftermath' 'agbaje' 'age' 'aged' 'agedifference' 'agency'
 'agenda' 'agent' 'agents' 'aggressive' 'aging' 'ago' 'agree' 'agrees'
 'ahead' 'aid' 'aidanquinn' 'aided' 'aids' 'ailing' 'air' 'airplane'
 'airport' 'al' 'alanalda' 'alanarkin' 'alancumming' 'alanrickman'
 'alantudyk' 'alaska' 'albert' 'albertbrooks' 'albertfinney' 'alcohol'
 'alcoholic' 'alcoholism' 'alecbaldwin' 'alessandronivola' 'alex'
 'alexandersiddig' 'alexapenavega' 'alexborstein' 'alexisbledel'
 'alfredhitchcock' 'alfredmolina' 'alfrewoodard' 'ali' 'alice'
 'alicedrummond' 'aliciawitt' 'alien' 'alieninvasion' 'alienlife' 'aliens'
 'alike' 'alilarter' 'alive' 'allancorduner' 'allen' 'allencovert'
 'alleong' 'alliance' 'allied' 'allies' 'allisonjanney' 'allow' 'allows'
 'ally' 'alongside' 'alpacino' 'alter' 'alternate' 'alternative'
 'alzheimer' 'amanda' 'amandapeet' 'amandaseyfried' 'amazing' 'ambassador'
 'amberheard' 'ambition' 'ambitious' 'ambulance' 'ambush' 'america'
 'american' 'americanfootball' 'americans' 'amid' 'amidst' 'amnesia' 'amp'
 'amy' 'amyadams' 'amypoehler' 'amyryan' 'amysedaris' 'amysmart'
 'anagasteyer' 'analyst' 'anarchiccomedy' 'ancient' 'anderson'
 'andiemacdowell' 'andreamartin' 'andrebraugher' 'andrew' 'andrewdaly'
 'android' 'andy' 'andydick' 'andygarcía' 'andyrichter' 'andysamberg'
 'andyserkis' 'angel' 'angelabassett' 'angeles' 'angelinajolie' 'angelo'
 'anger' 'angry' 'animal' 'animalattack' 'animalhorror' 'animals'
 'animated' 'animation' 'anjelicahuston' 'ann' 'anna' 'annafaris'
 'annakendrick' 'annalevine' 'annapaquin' 'annasophiarobb' 'anndowd'
 'anne' 'annebancroft' 'annefletcher' 'annehathaway' 'anneheche'
 'annemoss' 'annettebening' 'annie' 'annikapergament' 'annual' 'answer'
 'answers' 'ant' 'anthology' 'anthony' 'anthonyanderson' 'anthonyhopkins'
 'anthonymackie' 'anthropomorphism' 'anti' 'antics' 'antihero'
 'antonicorone' 'antoniobanderas' 'antonyelchin' 'apart' 'apartheid'
 'apartment' 'ape' 'apes' 'apocalypse' 'apocalyptic' 'appear' 'appears'
 'apple' 'apprentice' 'approaches' 'april' 'arab' 'archaeologist'
 'architect' 'arctic' 'area' 'arena' 'arielwinter' 'arise' 'aristocrat'
 'armed' 'arminmueller' 'arms' 'armstrong' 'army' 'arnold'
 'arnoldschwarzenegger' 'arrest' 'arrested' 'arrival' 'arrive' 'arrives'
 'arriving' 'art' 'arthur' 'arthurj' 'arthurtovey'
 'artificialintelligence' 'artist' 'artists' 'arts' 'ashley' 'ashleyjudd'
 'ashtonkutcher' 'asia' 'ask' 'asked' 'asks' 'aspirations' 'aspiring'
 'assassin' 'assassination' 'assassins' 'assault' 'assigned' 'assignment'
 'assistant' 'asteroid' 'astronaut' 'asylum' 'athlete' 'atomicbomb'
 'attack' 'attacked' 'attacks' 'attempt' 'attempting' 'attempts'
 'attending' 'attention' 'attitude' 'attorney' 'attraction' 'attractive'
 'audience' 'audition' 'august' 'aunjanueellis' 'aunt' 'austin'
 'australia' 'australian' 'author' 'authorities' 'authority' 'auto'
 'avaacres' 'avenge' 'avoid' 'awaits' 'awakens' 'award' 'away' 'awry'
 'azizansari' 'baby' 'bachelor' 'backdrop' 'bad' 'bahamas' 'bailey'
 'bailing' 'baker' 'balance' 'ball' 'ballet' 'band' 'banished' 'bank'
 'banker' 'bankrobbery' 'baptiste' 'bar' 'barely' 'bargained' 'barn'
 'barney' 'barry' 'barrylevinson' 'barrypepper' 'barryshabakahenley'
 'base' 'baseball' 'based' 'basedoncomicbook' 'basedonnovel' 'basedonplay'
 'basedonstagemusical' 'basedontrueevents' 'basedontruestory'
 'basedontvseries' 'basedonvideogame' 'basedonyoungadultnovel' 'basement'
 'basketball' 'batman' 'battle' 'battlefield' 'battles' 'battling' 'bay'
 'beach' 'bear' 'bears' 'beast' 'beat' 'beautiful' 'beautifulwoman'
 'beauty' 'beccasweitzer' 'becominganadult' 'bed' 'befriends' 'began'
 'begin' 'beginning' 'begins' 'behavior' 'beliefs' 'believe' 'believed'
 'believes' 'believing' 'bell' 'beloved' 'ben' 'benaffleck' 'benchaplin'
 'benedictcumberbatch' 'benfoster' 'bengazzara' 'beniciodeltoro'
 'benjamin' 'benjaminbratt' 'benkingsley' 'benmendelsohn' 'bennett'
 'benstiller' 'bent' 'benwhishaw' 'berlin' 'bernardhill' 'bernardlee'
 'berniemac' 'best' 'bestfriend' 'bet' 'beth' 'bethgrant' 'betrayal'
 'bettemidler' 'better' 'betty' 'beverly' 'bible' 'big' 'biggest' 'biker'
 'billcamp' 'billcobbs' 'billduke' 'billhader' 'billionaire' 'billmoseley'
 'billmurray' 'billnighy' 'billnunn' 'billpaxton' 'billpullman' 'billy'
 'billybobthornton' 'billyburke' 'billyconnolly' 'billycrudup'
 'billycrystal' 'billydeewilliams' 'billyslaughter' 'billyzane'
 'biography' 'bird' 'birth' 'birthday' 'bishop' 'bit' 'bite' 'bitter'
 'bizarre' 'black' 'blackmail' 'blackpeople' 'blade' 'blake' 'blakeclark'
 'blind' 'block' 'blonde']

In [463]:
ps.stem('romance')

'romanc'

In [464]:
similarity = cosine_similarity(vectors)

In [465]:
similarity[12]

array([0.07715167, 0.56577895, 0.08333333, ..., 0.        , 0.        ,
       0.        ])

In [466]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distance = similarity[movie_index]
    movies_list = sorted(list(enumerate(distance)), reverse = True, key = lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)
        
    
    return

In [467]:
recommend('Inception')

Timecop
The Walk
The Helix... Loaded
Star Trek II: The Wrath of Khan
The Score

In [469]:
pickle.dump(new_df,open('movies.pkl', 'wb'))

In [470]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))